

body {
  margin-bottom: 80px;
}

/* Toogle bt TAG # */

#comprovante-componente, #disponibilidade-vagas-academia {
  display:none;
}
#comprovante-componente:target, #confirmar-vagas-academia:target,  #disponibilidade-vagas-academia:target{
  display:block;
}

#login-academia, #confirmar-vagas-academia  {
  display: none;
}

#login-academia:target {
  display: inline-flex;
}
/* Tela de agendamentos */

.tela_agendamentos-academia {

}


.tela_agendamentos-academia  {
  background: #000000ad;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999999999999999999999;
  position: fixed;
  display: flex;

}

.tela_agendamentos-academia {
  font-weight: bolder;
  text-transform: uppercase;
}

.tela_agendamentos-academia .header-wrapper {
  padding: 15px 35px;
  font-size: 24px;
  font-weight: bold;
}
.tela_agendamentos-academia .main-wrapper {
  padding: 35px;
  background: #fff;
}

.tela_agendamentos-academia  .box-agendamentos {
  width: 90%;
  margin: auto;
  justify-content: center;
  align-content: center;
  background: #0a2860;
  display: inline-block;
  position: relative;
  max-width: 1200px;
  max-height: 90%;
  color: #fff;
  overflow-y: auto;
}

.tela_agendamentos-academia  .box-agendamentos .table thead tr th {
  color: #0a2860;
  text-transform: capitalize;
  border: 0;
  font-weight: bolder;
}

.tela_agendamentos-academia .table th, .tela_agendamentos-academia  .table td {
  font-size: 13px;
  color: #0a2860;
}

.tela_agendamentos-academia .falta-icon ion-icon {
  font-size: 25px;
  color: #0a2860;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 50%;
}

.tela_agendamentos-academia .cancelar-icon ion-icon {
  font-size: 15px;
  background: #0a2860;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
}
.tela_agendamentos-academia .comprovante-icon ion-icon {
  font-size: 25px;
  color: #0a2860;
  padding: 0 5px;
  cursor: pointer;
}

.tela_agendamentos-academia .btn-iate {
  border-radius: 0!important;
  font-weight: bold;
}


.tela_agendamentos-academia .btn-close-academia {
  float: right;
  margin: 15px;
  font-weight: bolder;
  font-size: 20px;
  background: #05183e;
  border-radius: 50%;
  padding: 10px 20px;
  cursor: pointer;

}


.tela_agendamentos-academia {}


.tela_agendamentos-academia {}
/* Login Academia */

.login-academia {
  background: #000000ad;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999999999999999999999;
  position: fixed;
  display: flex;

}

.aviso-login-academia {
  font-weight: bolder;
  text-transform: uppercase;
}
.login-academia .box-login form {
  max-width: max-content;
  margin: auto;
  text-align: center;
}

.login-academia .box-login form div {
  display: inline-flex;
  align-items: center;
  margin: 5px auto;
  min-width: 365px;
}

.login-academia .box-login .btLoginAreaRestrita {
  display: block;
  align-items: center;
  margin: 8px auto;
  background: #3fa9f5!important;
  border-radius: 0;
  font-weight: bolder;
}

.login-academia .box-login form div label {
  padding: 0 15px;
  margin: auto;
  min-width: 75px;
  text-align: right;
  font-weight: bolder;
  text-transform: uppercase;

}

.login-academia .box-login form div input {
  border-radius: 0;
  min-width: 275px;
}
.login-academia .box-login {
  width: 80%;
  margin: auto;
  justify-content: center;
  align-content: center;
  background: #0a2860;
  display: inline-block;
  position: relative;
  max-width: 800px;
  max-height: 80%;
  color: #fff;
  overflow-y: auto;
  padding: 35px;
}

.slider {
  margin: 30px 0;


}
/* Slider

.slider {
  width: 100%;
  height: 500px;
  background: #06275d;
  margin: 30px 0;
  background-image: url(../img/slider.jpeg);
    background-size: cover;
  background-position: 50%;

} */

/* Área de cabeçalho  */

#conteudo .header-academia div .white-color {
  color: #fff!important;
}

.header-academia div {
  display: inline-block;
  width: 100%;
}

.header-academia h2 {
  background: #06275d;
  width: max-content;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: bolder;
  border-left: 35px solid;
  border-color: #3fa9f5;
  display: flex;
  float: left;

}

.header-academia div #link-servico {
  text-align: center;
  background: #06275d;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 15px;
  padding: 10px 25px;
  min-width: 300px;
  float: right;
  border: 0;
}


/* Modalidade */

.form-options {

}
.form-options td {}

.form-options td b {}

.form-options td select {
  padding: 8px 0px;
  border: 1px solid black;
  background: #fff;
  width: 100%;
}



.form-options td #consultar {
  background: #0a2860;
  height: 100%;
  padding: 9px 25px 11px 25px;
  color: #fff!important;
  font-weight: bolder;
  text-transform: uppercase;
}

.disponibilidade-academia  li span {
  width: 30px;
  height: 30px;
  display: block;
}
.disponibilidade-academia  li span.disponivel {
  background: #0a2860;
}

.disponibilidade-academia  li span.semAgenda {
  background:  #cccccc;
}

.disponibilidade-academia  li span.agendaLotada {
  background: #f04732;
}
.disponibilidade-academia  li {
  display: inline-flex;
}

.disponibilidade-academia  li p {
  padding: 0 15px;
  display: inline-flex;
  margin: auto;
}
.modalidades {
  position: fixed;
  bottom: 0;
  background: #0b2860;
  color: #fff;
  z-index: 99999;
}

.modalidades .titulo-wrapper {
  text-align: center;
  justify-content: center;
  align-content: center;
  display: flex;
  background: #3fa9f5;
}

 .modalidades .titulo-wrapper p {
  margin: auto;
  padding: 20px 60px;
  margin-left: 0;
  font-weight: bolder;
  font-size: 16px;
}

#conteudo .modalidades-links {
  align-items: center;
  display: flex;
}
#conteudo .modalidades-links ul {

}
#conteudo .modalidades-links ul li {
  display: inline-flex;
}
#conteudo .modalidades-links ul li a {
  color: #fff!important;
  font-weight: bolder;
}

/* Tabela de agendamento */

.conteudo-academia h4 {
  font-weight: bolder;
  font-size: 40px;
  color: #0a2860;
}
.conteudo-academia ul li a {
  font-size: 25px;
}
#agendamentos {
  width: 100%;
}
#agendamentos thead {}
#agendamentos thead tr {}
#agendamentos thead tr th {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 25px;
}

#conteudo #agendamentos tbody tr td.diaLiberado {
  background: #0a2860;
  cursor: pointer;
}

#conteudo #agendamentos tbody tr td.diaLotado {
  background: #f04732;
}

#agendamentos thead th {}


#conteudo #agendamentos tbody tr td {
  max-width: 14%;
  background: #cecece;
  border: 5px solid #fff;
  height: 150px;
  min-width: 14%;
  width: 14%;

  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;

}

#conteudo #agendamentos tbody tr td a {
  color: #fff!important;
  display: inline-flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}


#conteudo #agendamentos tbody tr td a span {
  font-size: 13px;
  font-weight: 500;
}

/* Tabela disponibilidade de serviços */

.disponibilidade-vagas-academia {
  border-top: 2px solid #0d2860;
  border-bottom: 2px solid #0d2860;
  margin: 30px 0;
}

.disponibilidade-vagas-academia h5 {
  padding: 15px 0;
  font-weight: bolder;
  color: #0d2860;
}
.tabela-disponibilidade-vagas {}

.tabela-disponibilidade-vagas thead {

}

.tabela-disponibilidade-vagas thead tr {
  background: #0d2860;
  color: #fff
}

.tabela-disponibilidade-vagas thead tr th {
  padding: 10px 5px;
  width: 25%;
}

.tabela-disponibilidade-vagas tbody tr td, .tabela-disponibilidade-vagas tbody tr th {
  padding: 10px 5px;
  width: 25%;
  color: #0d2860;
  cursor: pointer;
}


/* Tabela confirmacao */

.confirmar-vagas-academia {
  border-bottom: 2px solid #0d2860;
  padding-bottom: 15px;
  padding-bottom: 40px!important;
  margin: 30px 0 0 0;
}

.confirmar-vagas-academia h5 {
  padding: 15px 0;
  font-weight: bolder;
  color: #0d2860;
}
.confirmar-vagas-academia {}

.confirmar-vagas-academia thead {

}

.confirmar-vagas-academia thead tr {


}

.confirmar-vagas-academia thead tr th {
  padding: 10px 5px;
  width: 25%;
  color: #0a2860;
  font-size: 24px;
}

.confirmar-vagas-academia tbody tr td, .confirmar-vagas-academia tbody tr th {
  padding: 10px 5px;
  width: 25%;
  color: #0d2860;
  cursor: pointer;
}

/* Tabela comprovante de serviços */

.disponibilidade-comprovante {
  border-top: 2px solid #0d2860;
  border-bottom: 2px solid #0d2860;
  margin: 30px 0;
}

.comprovante-vagas-academia h5 {
  padding: 15px 0;
  font-weight: bolder;
  color: #0d2860;
}
.comprovante-vagas-academia {}

.comprovante-vagas-academia thead {

}

.comprovante-vagas-academia thead tr {

}

.comprovante-vagas-academia thead tr th {
  padding: 10px 5px;
  width: 25%;
  color: #0a2860;
  font-size: 24px;
}

.comprovante-vagas-academia tbody tr td, .comprovante-vagas-academia tbody tr th {
  padding: 10px 5px;
  width: 25%;
  color: #0d2860;
}


.btn-academia {
  background: #0a2860;
  border: 0;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #fff;
}


@media only screen and (max-width: 480px) {

  #conteudo {
    padding-left: 0px!important;
  }
  .header-academia h2 {
    background: #06275d;
    width: max-content;
    padding: 5px 25px;
    text-transform: uppercase;
    font-weight: bolder;
    border-left: 25px solid;
    border-color: #3fa9f5;
    display: flex;
    float: left;
    font-size: 15px;
  }

  .header-academia div #link-servico {
    text-align: center;
    background: #06275d;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
    padding: 5px 0px;
    min-width: 270px;
    float: unset;
    border: 0;
    margin: 5px 0;
  }

  .header-academia div h3 {
    font-size: 16px;
    font-weight: bolder;
    padding: 15px 0;
  }

  .header-academia div p {
    font-size: 13px;
  }

  .conteudo-academia h4 {
    font-weight: bolder;
    font-size: 20px;
    color: #0a2860;
  }

  .conteudo-academia ul li a {
    font-size: 15px;
  }

  .form-options td {
    display: inline-block;
    padding: 5px 0 0 0;
    width: 50%;
    font-size: 13px;
  }

  .form-options td select {
    padding: 2px 0px;
    border: 1px solid #0a2860;
    background: #fff;
    width: 100%;
  }

  .form-options td #consultar {
    background: #0a2860;
    height: 100%;
    padding: 2px 25px;
    color: #fff!important;
    font-weight: bolder;
    text-transform: uppercase;
    width: 100%;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    text-decoration: none;
  }

  .disponibilidade-academia {
    text-align: center;
  }

  .disponibilidade-academia li span {
    width: 20px;
    height: 20px;
    display: block;
  }

  .disponibilidade-academia li p {
    padding: 0 4px;
    display: inline-flex;
    margin: auto;
    font-size: 10px;
  }
  #conteudo #agendamentos tbody tr td a span {
    display: none;
  }
  #conteudo #agendamentos tbody tr td {
    max-width: 14px;
    border: 2px solid #fff;
    height: 60px;
    min-width: 14px;
    width: 14%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    min-height: 30px;
    padding: 5px 0;
  }

  #agendamentos thead tr th {
    font-size: 10px;
  }

  #conteudo #agendamentos tbody tr td img {
    display: none;
  }
  #conteudo #agendamentos tbody tr td a {
    font-size: 9px;
  }
  .modalidades {
    display: none;
  }
}
