

/* Slider */

.slider {
  width: 100%;
  height: 500px;
  background: #06275d;
  margin: 30px 0;
  background-image: url(../img/slider.jpeg);
    background-size: cover;
  background-position: 50%;

}

/* Área de cabeçalho  */

#conteudo .header-academia div .white-color {
  color: #fff!important;
}

.header-academia div {
  display: inline-block;
  width: 100%;
}

.header-academia h2 {
  background: #06275d;
  width: max-content;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: bolder;
  border-left: 35px solid;
  border-color: #3fa9f5;
  display: flex;
  float: left;

}

.header-academia div #link-servico {
  text-align: center;
  background: #06275d;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 15px;
  padding: 10px 25px;
  min-width: 300px;
  float: right;
}

/* Modalidade */

.modalidades {
  position: fixed;
  bottom: 0;
  background: #0b2860;
  color: #fff;
  z-index: 99999;
}

.modalidades .titulo-wrapper {
  text-align: center;
  justify-content: center;
  align-content: center;
  display: flex;
  background: #3fa9f5;
}

.modalidades .titulo-wrapper p {
  margin: auto;
  padding: 20px 60px;
  margin-left: 0;
  font-weight: bolder;
  font-size: 16px;
}
